* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(237, 237, 237);
}

header,
.word-area {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word-area {
    letter-spacing: 10px;
    font-size: 24px;
    font-weight: bold;
}

.picture-area,
.button-grid-area {
    height: 40vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-area img {
    height: 90%;
    width: auto;
    border: 1px solid black;
    box-shadow: 1px 1px 3px rgb(111, 111, 111);
}

.button-grid {
    height: 90%;

    display: grid;
    grid-template: repeat(7, 1fr) / repeat(5, 1fr);
}

.button-grid button {
    width: 15vw;
    font-weight: bold;
}
